body{
    margin:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,#9cbfe8,#d8ecff);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:420px;
    height:410px;
    max-width:90%;
    background:#fff;
    border-radius:20px;
    padding:40px 35px;
    box-shadow:0 12px 30px rgba(0,0,0,.18);
    text-align:center;
}

.title{
    position:relative;
    top:-35px;
    font-size:32px;
    font-weight:bold;
    color:#2b5f93;
    margin-bottom:20px;
}

.verify-text{
    position: relative;
    top:-158px;
    color:#666;
    font-size:15px;
    line-height:1.7;
    margin-bottom:25px;
}

.verify-text span{
    display:block;
    margin-top:-5px;
    color:#2b5f93;
    font-weight:bold;
    word-break:break-word;
}

form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.otp-input{
    position:relative;
    top:-212px;
    width:100%;
    box-sizing:border-box;
    padding:15px;
    font-size:18px;
    text-align:center;
    letter-spacing:4px;
    border:2px solid #d9d9d9;
    border-radius:10px;
    outline:none;
    transition:.3s;
}

.otp-input:focus{
    border-color:#5c9ded;
}

.btn{
    position:relative;
    width:100%;
    padding:13px;
    border:none;
    border-radius:10px;
    background:#4b90e2;
    color:#fff;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
    top:-205px;
}

.btn:hover{
    background:#2b5f93;
    transform:translateY(-2px);
}


#toast-container{
    position:fixed;
    top:20px;
    right:20px;
    z-index:999;
}

.toast{
    min-width:260px;
    padding:14px 18px;
    margin-bottom:10px;
    border-radius:10px;
    color:#fff;
    transition:.5s;
}

.toast.success{
    background:#28a745;
}

.toast.error{
    background:#dc3545;
}

@media(max-width:500px){

    .container{
        width:92%;
        padding:30px 22px;
    }

    .title{
        font-size:28px;
    }

    .verify-text{
        font-size:14px;
    }

}

.container{
    position:relative;
}

.edit_username{
    display:inline-block;
    justify-content:center;
    position:relative;
    background-color:#4b90e2;
    margin-right:10px;
    align-items:center;
    text-decoration: none;
    width:auto;
    border-radius:8px;
    padding:8px 15px;
    border:none;
    color:#fff;
    font-size:16px ;
    font-weight:bold;
    top:370px;
    left:-1px;
    cursor:pointer;
}

.edit_username:hover{
    background:#3477c9;
    transform:translateY(-2px);
}


#timer {
    display: flex;
    position:relative;
    top:164px;
    align-items: center;
    justify-content: center;
    color:#2b5f93;
    font-weight: 200px;
    font-size:12px;
    
}    


.resend-btn{
    position: relative;
    width:100%;
    padding:13px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    background-color:#4b90e2;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
    top:180px;
}

.resend-btn:hover{
    background:#2b5f93;
    transform:translateY(-2px);
}

.back-to-login{
    text-decoration:none;
    display:inline-block;
    padding:8px 15px;
    margin-left:10px;
    width:auto;
    align-items:center;
    justify-content:center;
    color:#fff;
    background:#4b90e2;
    position:relative;
    border:none;
    font-weight:bold;
    border-radius:8px;
    top:370px;
}

.back-to-login:hover{
    background:#2b5f93;
    transform:translateY(-2px);
}

.text-alert{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    color:#666;
    font-size:11px;
    top:-207px;
}