*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#fff;
    direction:ltr;
    width:100%;
}

.container{
    width:90%;
    margin:auto;
    padding-top:30px;
    flex-direction: column;
}

.page-header{
    width: 100%;
    height: 90px;
    background: #aedaf9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content:left;
    background: transparent;
}

.item-navbar{
    text-decoration: none;
    color: black;
    padding: 12px 22px;
    border-radius: 30px;
    font-size: 15px;
    transition: 0.2s ease-in-out ;
}

.item-navbar:hover{
    background-color: #2eaadc;
    transform: translateY(0.2rem);
}

.item-navbar.active{
    font-weight: bold;
    border-bottom: 3px solid #0d6efd;
}

.profile_icon {
  width: 40px;      
  height: 40px;
  border-radius: 50%;  
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
}

.profile_icon:hover{
    background-color: #2eaadc;
    transform: translateY(0.2rem);

}

.message{
    padding:10px;
    margin:10px 0;
    border-radius:6px;
    text-align:center;
    font-size:14px;
}

.message.error{
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
    top:-300px;
    background:#ffdddd;
    color:#b30000;
    border:1px solid #ff6666;
    
}

.message.success{
    background:#ddffdd;
    color:#006600;
    border:1px solid #66cc66;
}

#toast-container{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    gap: 10px;

    pointer-events: none;
}

.toast{
    min-width: 260px;
    max-width: 350px;

    padding: 14px 18px;
    border-radius: 10px;

    color: white;
    font-size: 15px;

    box-shadow: 0 8px 20px rgba(0,0,0,.25);

    opacity: 1;
    transition: opacity .5s ease, transform .5s ease;

    transform: translateX(0);
}

.toast.success{
    background: #2ecc71;
}

.toast.error{
    background: #e74c3c;
}

.toast.warning{
    background: #f39c12;
}

.toast.info{
    background: #3498db;
}