body{
    margin:0;
    font-family:sans-serif;
    background:linear-gradient(9deg,#999a9a,#5d85a7e3);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:420px;
    background:#fff;
    border-radius:20px;
    padding:35px;
    box-sizing:border-box;
    text-align:center;
}

.title{
    color:#2b5f93;
    font-size:28px;
    margin-bottom:15px;
    font-weight:400;
}

.warning-icon{
    font-size:70px;
    margin-bottom:20px;
}

.warning-text{
    color:#444;
    font-size:20px;
    font-weight:bold;
    margin-bottom:18px;
}

.description{
    color:#666;
    line-height:1.7;
    font-size:15px;
    margin-bottom:35px;
}

.delete-btn{
    width:100%;
    padding:13px;
    border:none;
    border-radius:10px;
    background:#e74c3c;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 8px 5px rgba(0,0,0,.4);
}

.delete-btn:hover{
    background:#c0392b;
    transform:translateY(-2px);
}

.cancel-btn{
    display:block;
    margin-top:18px;
    text-decoration:none;
    background:#4b90e2;
    color:white;
    padding:12px;
    border-radius:10px;
    font-weight:bold;
    transition:.3s;
    box-shadow:0 8px 5px rgba(0,0,0,.4);
}

.cancel-btn:hover{
    background:#2b5f93;
    transform:translateY(-2px);
}

.back-btn{
    position:fixed;
    top:10px;
    left:8px;
    width:35px;
    height:35px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:white;
    color:black;
    text-decoration:none;
    font-size:28px;
    border-radius:14px;
    box-shadow:0 8px 20px rgba(0,0,0,.5);
    transition:.25s;
}

.back-btn span{
    position:relative;
    top:-5px;
}

.back-btn:hover{
    background:black;
    color:white;
}