*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#fff;
    direction:ltr;
    width:100%;
}

.container{
    width:90%;
    margin:auto;
    padding-top:30px;
    flex-direction: column;
}

.page-header{
    width: 100%;
    height: 90px;
    background: #90c8f36b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content:left;
    background: transparent;
}

.item-navbar{
    text-decoration: none;
    color: black;
    padding: 12px 22px;
    border-radius: 30px;
    font-size: 15px;
    transition: 0.2s ease-in-out ;
}

.item-navbar:hover{
    background-color: #2eaadc;
    transform: translateY(0.2rem);
}

.item-navbar.active{
    font-weight: bold;
    border-bottom: 3px solid #0d6efd;
}


/* عنوان */

.liner-continer{
    width:90%;
    margin:70px auto 20px;
    text-align:center;
}

.continer{
    font-size:38px;
    color:#222;
    font-weight:bold;
}

/* متن توضیح */

.title-continer{
    width:70%;
    margin:0 auto 50px;
    text-align:center;
}

.title-continer p{
    color:#666;
    line-height:30px;
    font-size:17px;
}

/* خط وسط */

.elementor-text-contact-information{
    display:flex;
    align-items:center;
    width:90%;
    margin:50px auto;
}

.elementor-text-contact-information::before,
.elementor-text-contact-information::after{
    content:"";
    flex:1;
    height:1px;
    background:#d6d6d6;
}

.text-contact-information{
    margin:0 20px;
    color:#555;
    font-size:20px;
    font-weight:600;
}

/* باکس ها */

.icon-box-email,
.icon-box-hour{
    width:45%;
    display:inline-block;
    text-align:center;
    margin-bottom:70px;
}

.icon-box-email h3,
.icon-box-hour h3{
    margin-bottom:15px;
}

.icon-box-email a,
.icon-box-hour a{
    text-decoration:none;
    color:#b22222;
    font-size:30px;
    font-weight:bold;
}

.icon-box-email p,
.icon-box-hour p{
    color:#666;
    font-size:17px;
}

/* فرم */

.contact-us{
    width:60%;
    margin:40px auto;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.contact-us label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
    color:#333;
}

.contact-us input,
.contact-us textarea{
    width:100%;
    padding:14px;
    border:1px solid #cfcfcf;
    border-radius:8px;
    font-size:16px;
    transition:.3s;
}

.contact-us input:focus,
.contact-us textarea:focus{
    border-color:#1d4ed8;
    outline:none;
}

textarea{
    resize:vertical;
}

.send-text{
    text-align:center;
}

.send-text button{
    padding:15px 45px;
    border:none;
    background:#0d6efd;
    color:white;
    font-size:17px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.send-text button:hover{
    background:#0a58ca;
}