{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'forgot_password.css' %}">
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
{% if messages %}
<div id="toast-container">
    {% for message in messages %}
        <div class="toast {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}    

<a href="javascript:history.back()" class="back-btn">←</a>

<div class="container">

    <div class="title">
        Forgot Password
    </div>

    <form method="POST">
        {% csrf_token %}

        <p class="text">
            Enter your username.
            <br>
            We'll send a verification code
            to your registered email.
        </p>

        <input
            type="text"
            name="username"
            placeholder="Username"
            required>

        <button class="btn">
            Send Code
        </button>

    </form>

</div>
<script>
setTimeout(() => {
    document.querySelectorAll(".toast").forEach(msg => {
        msg.style.opacity = "0";
        msg.style.transform = "translateX(100px)";
        setTimeout(() => {msg.remove();}, 500);
    });
}, 3000);
</script>

</body>
</html>