{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'verify_reset_password.css' %}">
    <meta charset="UTF-8">
    <title>Verify Code</title>
</head>
<body>

{% if messages %}
<div id="toast-container">
    {% for message in messages %}
        <div class="toast {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}    

<div class="container">
    
    <a href="{% url 'accounts:forgot_password' %}" class='edit_username'> <span>Edit Username</span> 
    </a>
    
    <a href="{% url 'accounts:login_page' %}" class='back-to-login'> <span>Back to Login</span> 
    </a>

    
    <div class="title">
        Verify Code
    </div>
    
    <form method="POST">
    {% csrf_token %}

    <button type="submit"
            name="resend"
            value="1"
            class="resend-btn"
            id="resendBtn">
        Resend Code
    </button>

    <p id="timer"></p>
    </form>

    <form method="POST">

        {% csrf_token %}

        <p class="verify-text">
            Verification code sent to
            <br>
            <span>{{ email }}</span>
        </p>

        <input
            type="text"
            name="otp"
            maxlength="6"
            placeholder="Enter Code"
            class="otp-input"
            required>

        <button class="btn">
            Verify
        </button>

    </form>

</div>
<script>
setTimeout(() => {
    document.querySelectorAll(".toast").forEach(msg => {
        msg.style.opacity = "0";
        msg.style.transform = "translateX(100px)";
        setTimeout(() => {msg.remove();}, 500);
    });
}, 3000);

let lastResend = Number("{{ last_resend }}");
let now = Math.floor(Date.now() / 1000);

let remaining = 60 - (now - lastResend);

let btn = document.getElementById("resendBtn");
let timer = document.getElementById("timer");

if (remaining > 0) {

    btn.disabled = true;

    let interval = setInterval(() => {

        timer.innerHTML = `Resend code in ${remaining} seconds`;

        remaining--;

        if (remaining < 0) {
            clearInterval(interval);
            btn.disabled = false;
            timer.innerHTML = "You can resend now.";
        }

    },1000);

}else{

    btn.disabled = false;
    timer.innerHTML = "You can resend now.";
}
</script>
</body>
</html>