{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'AboutUs.css' %}">
{% endblock %}

{% block content %}
<section class="about-section">
    <div class="container">
        <h3 class="title">Welcome to our website!</h3>
        <div class="content">
                <div class="text-box">
                    <p>We have designed and developed a website to make the process of 
                        studying and managing educational materials easier and more organized
                        for students. The main goal of this project was to create a practical
                        environment where students can manage their courses, notes, and study
                        materials without confusion and spend more time focusing on learning.
                            In this website, users can categorize their different courses and create separate folders for
                            each subject to store related notes and files. This feature helps students keep their
                            educational materials organized and allows them to quickly find the information they need
                            without wasting time searching through different files and locations.</p>
                </div>

                <div class="text-box">
                    <p> One of the common problems among students is the disorder and scattering
                        of notes and educational resources. Through this website, we have tried to
                        solve this problem by providing a structured space where all study
                        materials can be stored, categorized, and easily accessed in one place.</p>   
                </div>
                <div class="text-box">
                    <p>The purpose of creating this project was to build
                        a simple and useful tool for students that can reduce the 
                        challenges of managing courses and notes. By providing an 
                        organized learning environment, we aim to make studying easier,
                        faster, and more effective for students. </p>
                </div>
        </div>

        <a href="{% url 'accounts:signup' %}" >
            <button class="btn">If you like our website, click here.</button>
        </a>

    </div>
</section>
{% endblock %}