<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'contact-us.css' %}">
</head>
<body>
    <div class="container">
        <header class="page-header">
            <nav class="navbar">
                <a href="" class="item-navbar">Profile</a>
                <a href="" class="item-navbar">View All</a>
                <a href="{% url 'notes:login_page' %}" class="item-navbar">sing up | Login</a>
                <a href="{% url 'notes:AboutUs' %}" class="item-navbar">About us</a>
                <a href="{% url 'notes:ContactUs' %}" class="item-navbar">Contact Us</a>
                <a href="{% url 'notes:' %}" class="back-page">🔙back</a>
            </nav>
        </header>
    <div class="liner-continer">
		<h4 class="continer">Contact Us</h4> 
	</div>
    <div class="title-continer">
		<p>If you have any questions,suggestions for site improvement, please feel free to reach out to us.</p>
    </div>
    <div class="elementor-text-contact-information">
        <span class="text-contact-information">Contact Information</span>
    </div>
	
    <div class="icon-box-email">
        <h3 class="icon-box-email-h3"><a href="">Gmail</a></h3>
        <p class="icon-box-email-p">Connect with us by email</p>
    </div> 
    <div class="icon-box-hour">
		<h3 class="icon-box-hour-h3"><a href="" >7 AM – 12 PM</a></h3>
        <p class="icon-box-hour-p">Service Hours</p>
	</div>   
    <form action="{% url 'notes:ContactUs' %}" method="post">
        <div class="contact-us">
            <div class="f-l name">
                <label for="form-full-name">Full Name :</label>
                <input  type="text" name="full name" id="full-name" placeholder="name">
            </div>
            <div class="email">
                <label for="form-email">Email :</label>
                <input type="email" name="Email" id="Email" placeholder="gmail">
            </div>
            <div class="telephonenumber">
                <label for="form-nummber">Phone Number :</label>
                <input type="tel" name="telephonenumber" id="telephonenumber" placeholder="phone number">
            </div>
            <div class="message-text">
                <label for="form-field-message">Message :</label>
                <textarea name="message" id="message" placeholder="say somthing..." rows="4"></textarea>
            </div>
            <div class="send-text">
    			<button class="send-text" type="submit">
                    <span class="send-text">Send</span>
			</button>
		</div>
    </div>
</body>
</html>