<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'contact-us.css' %}">
</head>
<body>
    
    <a href="javascript:history.back()" class="back-btn">
        <span>←</span>
    </a>
    
    <div class="container">
        <header class="page-header">
            <nav class="navbar">
                
                {% if not request.user.is_authenticated %}
                <a href="{% url 'accounts:login_page' %}" class="item-navbar">sing up | Login</a>
                {% else %}
                <p></p>
                {% endif %}
                
                {% if request.user.is_authenticated %}
                <a href="{% url 'notes:profile' %}" class="item-navbar">
                    <span>profil</span><br>
                    <span class="username">
                    {{request.user.username}}
                </span>
                </a>
                {% endif %}    
                
                <a href="" class="item-navbar">setting</a>
                 
                <a href="{% url 'notes:AboutUs' %}" class="item-navbar">About us</a>
                <a href="{% url 'notes:ContactUs' %}" class="item-navbar">Contact Us</a>
            </nav>
        </header>
    <div class="liner-continer">
		<h4 class="continer">Contact Us</h4> 
	</div>
    <div class="title-continer">
		<p>If you have any questions,suggestions for site improvement, please feel free to reach out to us.</p>
    </div>
    <div class="elementor-text-contact-information">
        <span class="text-contact-information">Contact Information</span>
    </div>
	
    <div class="icon-box-email">
        <h3 class="icon-box-email-h3"><a href="">Gmail</a></h3>
        <p class="icon-box-email-p">Connect with us by email</p>
    </div> 
    <div class="icon-box-hour">
		<h3 class="icon-box-hour-h3"><a href="" >7 AM – 12 PM</a></h3>
        <p class="icon-box-hour-p">Service Hours</p>
	</div>   
    <form action="{% url 'notes:ContactUs' %}" method="post">
        {% csrf_token %}
        <div class="contact-us">
            <div class="f-l name">
                <label for="form-full-name">Username:</label>
                <input  type="text" name="full_name" id="form-full-name" placeholder="Username">
            </div>
            <div class="email">
                <label for="form-email">Email :</label>
                <input type="email" name="email" id="form-email" placeholder="example@gmail.com">
            </div>
            <div class="phone_number">
                <label for="form-number">Phone Number :</label>
                <input type="tel" name="telephonenumber" id="form-number" placeholder="phone number">
            </div>
            <div class="message-text">
                <label for="form-field-message">Message :</label>
                <textarea name="message" id="form-field-message" placeholder="Say Somethings...." rows="4"></textarea>
            </div>
            <div class="send-text">
    			<button class="send-text" type="submit">
                    <span class="send-text">Send</span>
			</button>
		</div>
	</form>	
    </div>
</body>
</html>