<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'contact-us.css' %}">
</head>
<body>
    
    <a href="javascript:history.back()" class="back-btn">
        <span>←</span>
    </a>
    
    <div class="container">
        <header class="page-header">
            <nav class="navbar">
                
                {% if not request.user.is_authenticated %}
                <a href="{% url 'accounts:login_page' %}" class="item-navbar">sing up | Login</a>
                {% else %}
                <p></p>
                {% endif %}
                
                {% if request.user.is_authenticated %}
                <a href="{% url 'notes:profile' %}" class="item-navbar">
                    <span>profil</span><br>
                    <span class="username">
                    {{request.user.username}}
                </span>
                </a>
                {% endif %}    
                
                <a href="" class="item-navbar">setting</a>
                 
                <a href="{% url 'notes:AboutUs' %}" class="item-navbar">About us</a>
                <a href="{% url 'notes:ContactUs' %}" class="item-navbar">Contact Us</a>
            </nav>
            <h1 class="Noteorganizer">Note Organizer</h1>
        </header>
    <div class="liner-continer">
		<h4 class="continer">Contact Us</h4> 
	</div>
    <div class="title-continer">
		<p>If you have any questions,suggestions for site improvement, please feel free to reach out to us.</p>
    </div>
    <div class="elementor-text-contact-information">
        <span class="text-contact-information">Contact Information</span>
    </div>
	
    <div class="icon-box-email">
        <h3 class="icon-box-email-h3"><a class='a2' href="mailto:apdevs12@gmail.com">apdevs12@gmail.com</a></h3>
        <p class="icon-box-email-p">Connect with us by Email</p>
        <p class="icon-box-email-p2">Tab On it👆</p>
    </div> 
    <div class="icon-box-hour">
		<h3 class="icon-box-hour-h3-h"><a href="" >7 AM – 12 PM</a></h3>
        <p class="icon-box-hour-p">Service Hours</p>
	</div>   
    <form action="{% url 'notes:ContactUs' %}" method="post">
        {% csrf_token %}
        <div class="contact-us">
            {% if not request.user.is_authenticated %}
            <div class="f-l name">
                <label for="form-Username">Username:</label>
                <input  type="text" name="username" id="form-Username" placeholder="Username">
            </div>
            <div class="email">
                <label for="form-email">Email :</label>
                <input type="email" name="email" id="form-email" placeholder="example@gmail.com">
            </div>
            <div class="phone_number">
                <label for="form-number">Phone Number :</label>
                <input type="tel" name="phone_number" id="form-number" placeholder="phone number">
            {% else %}    
            <div class="f-2">
                <label for="form-Username">Username:</label>
                <input  class='auto-fill' type="text" value="{{request.user.username}}" name="username" id="form-Username" placeholder="Username">
            </div>
            <div class="email-2">
                <label for="form-email">Email :</label>
                <input class='auto-fill' type="email" value="{{request.user.email}}" name="email" id="form-email" placeholder="example@gmail.com">
            </div>
            <div class="phone_number">
                <label for="form-number">Phone Number :</label>
                <input class='auto-fill' type="tel" value="{{request.user.profile.phone_number}}" name="telephonenumber" id="form-number" placeholder="phone number">
            
            {% endif %}    
            </div>
            <div class="message-text">
                <label for="form-field-message">Message :</label>
                <textarea name="message" id="form-field-message" placeholder="Say Somethings...." rows="4"></textarea>
            </div>
            <div class="send-text">
    			<button class="send-text" type="submit">
                    <span class="send-text">Send</span>
			</button>
		</div>
	</form>	
    </div>
    <script>
        document.querySelectorAll(".auto-fill").forEach(input => {
        input.addEventListener("input", function() {
            this.style.backgroundColor = "white";
        });
    });
    </script>
</body>
</html>