{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Note</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="container">
        <!--Header-->
        <header class="page-header">
            <nav class="navbar">
                <a href="" class="item-navbar">Profile</a>
                <a href="" class="item-navbar">setting</a>
                <a href="./login.html" class="item-navbar">Sing up | Login</a>
                <a href="./AboutUs.html" class="item-navbar">About us</a>
            </nav>
            <h1>Class Notes</h1>
        </header>
        <!--toolbar-->
        <section class="toolbar">

            <div class="right">
                <input type="text" placeholder="Search"/>
                <button class="new" id="newBtn">New</button>
            </div>
        </section>
        <!--Table-->
        <section class="table-section">
            <table>
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Notes</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    {% for note in notes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ note.name }}</td>
                        <td>{{ note.topic }}</td>
                        <td>{{ note.create_time }}</td>
                        <td>
                            <button>View</button>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>