<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'profile.css' %}">
</head>
<body>
    <div>
        <div class="contaner">
            <div class="profile">
                <div class="image"><img src="https://rasanika.com/storage/i/17263/11XRGPqMYoSnic0zJ1uVJcl2/orig-900/image--rasanika.com.webp" alt="profile"></div>
                    <a href=""><button class="btn" >Courses and Notes</button></a>
                    <a href=""><button class="btn" >Edit Profile | complete</button></a>
                    <a href=""><button class="btn" >View Profile</button></a>
                    <a href="{% url 'accounts:logout' %}" class="logout"><button class="btn1">LOG OUT</button></a>
            </div>
        </div>
    </div>
    
</body>
</html>